version: '3'

services:
  db: 
    image: postgres:14.3
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
    container_name: appointment
    volumes:
      - ./postgres:/var/lib/postgresql/data